@import url(c:\Users\PlanPoint\Desktop\2020\mu\src\mu_mobile\assets\css\iconfont.css);
.text-color--primary {
  color: #1989fa;
}

.bg-color--primary {
  background-color: #1989fa;
}

.text-color--success {
  color: #07c160;
}

.bg-color--success {
  background-color: #07c160;
}

.text-color--danger {
  color: #ee0a24;
}

.bg-color--danger {
  background-color: #ee0a24;
}

.text-color--warning {
  color: #ff976a;
}

.bg-color--warning {
  background-color: #ff976a;
}

@keyframes mu-animate-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-color: transparent;
    color: transparent;
  }
}

.mu-animate-disappear {
  animation: mu-animate-disappear 0.3s linear forwards;
}

.mu--overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.mu--overlay.overlay-nth2 {
  background-color: transparent;
}

.mu--overlay.overlay-nth3 {
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes mu-animate--popup-bottom-z {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mu-animate--popup-bottom-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes mu-animate--popup-right-z {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-right-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes mu-animate--popup-left-z {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-left-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.mu-animate--popup-left-a {
  animation: mu-animate--popup-left-z 0.3s ease-in;
}

.mu-animate--popup-left-b {
  animation: mu-animate--popup-left-f 0.3s ease-in forwards;
}

@keyframes mu-animate--popup-bottom-z {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mu-animate--popup-bottom-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes mu-animate--popup-right-z {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-right-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes mu-animate--popup-left-z {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-left-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.mu-animate--popup-right-a {
  animation: mu-animate--popup-right-z 0.3s ease-in;
}

.mu-animate--popup-right-b {
  animation: mu-animate--popup-right-f 0.3s ease-in forwards;
}

@keyframes mu-animate--popup-bottom-z {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes mu-animate--popup-bottom-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes mu-animate--popup-right-z {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-right-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes mu-animate--popup-left-z {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mu-animate--popup-left-f {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.mu-animate--popup-bottom-a {
  animation: mu-animate--popup-bottom-z 0.3s ease-in;
}

.mu-animate--popup-bottom-b {
  animation: mu-animate--popup-bottom-f 0.3s ease-in forwards;
}

.mu-popup {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-overflow-scrolling: touch;
  z-index: 5000;
  box-sizing: border-box;
  padding: 0 .3rem;
}

.mu-popup.mu-popup--bottom {
  bottom: 0;
  left: 0;
  width: 100%;
}

.mu-popup.mu-popup--bottom.mu-popup-round {
  border-radius: .3rem .3rem 0 0;
}

.mu-popup.mu-popup--right {
  top: 0;
  bottom: 0;
  right: 0;
}

.mu-popup.mu-popup--right.mu-popup-round {
  border-radius: .3rem 0 0 .3rem;
}

.mu-popup.mu-popup--left {
  top: 0;
  bottom: 0;
  left: 0;
}

.mu-popup.mu-popup--left.mu-popup-round {
  border-radius: 0 .3rem .3rem 0;
}

.mu-popup mu-nav {
  display: block;
  min-height: 1rem;
  line-height: 1rem;
  margin: .5rem 0;
  position: relative;
}

.mu-popup mu-nav .mu-iconfont {
  font-size: .8rem;
  position: absolute;
  top: calc(50% - .5rem);
  right: 3vw;
}

.mu-popup mu-nav .mu-iconfont.left {
  right: unset;
  left: 3vw;
}

.mu-popup mu-nav .mu-popup--title {
  text-align: center;
  font-size: 1rem;
  padding: 0 1.8rem;
}

.mu-toast {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 6rem;
  height: 6rem;
  padding: 1.3rem 0;
  background-color: #4c4c4c;
  z-index: 6000;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: .6rem;
}

.mu-toast.mu-toast--text {
  height: auto;
  padding: .4rem .9rem;
  text-align: center;
  width: unset;
  max-width: 100vw;
}

.mu-toast .mu-iconfont {
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

@keyframes mu-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mu-toast .mu-iconfont.icon-dengdai {
  animation: mu-spin 1s linear infinite;
}

.mu-toast span {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.mu-lazyimages {
  background-color: #e9e8e8;
  border-radius: .3rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

@keyframes skeleton-opacity {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: 0;
  }
}

.mu-lazyimages.mu-lazyimages--active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%);
  background-size: 200% 100%;
  background-position-x: 0;
  animation: skeleton-opacity 2s linear infinite;
}

.mu-lazyimages i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3e4246;
  z-index: 3000;
}

.mu-notify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: .3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #ffffff;
  box-sizing: border-box;
}

.mu-notify .mu-iconfont {
  font-size: .75rem;
  margin: 0 .25rem;
}

.mu-actionsheet {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #3e4246;
  background-color: #f7f8fa;
  z-index: 5000;
  font-size: 0.7rem;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.mu-actionsheet.mu-actionsheet--round {
  border-radius: .8rem .8rem 0 0;
}

.mu-actionsheet ul,
.mu-actionsheet ol,
.mu-actionsheet li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.mu-actionsheet li,
.mu-actionsheet .mu-actionsheet--hd,
.mu-actionsheet .mu-actionsheet-ft {
  padding: .7rem 0;
  user-select: none;
}

.mu-actionsheet li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mu-actionsheet li:active {
  background-color: #f7f8fa;
}

.mu-actionsheet li.actionsheet--disable {
  color: #c8c9cc;
  cursor: not-allowed;
}

.mu-actionsheet .mu-actionsheet--hd {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.mu-actionsheet .mu-actionsheet--hd p {
  margin: 0;
}

.mu-actionsheet .mu-actionsheet--hd p:nth-child(2) {
  color: #969799;
  font-size: 0.6rem;
  transform: translateY(0.2rem);
}

.mu-actionsheet .mu-actionsheet--hd::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6%;
  right: 6%;
  height: .05rem;
  background-color: #ebedf0;
}

.mu-actionsheet .mu-actionsheet-ft {
  margin-top: .5rem;
  text-align: center;
  background-color: #ffffff;
}

.mu-actionsheet .mu-actionsheet--li-desc {
  font-size: 0.6rem;
  color: #969799;
  margin-top: .3rem;
}

img {
  width: 100%;
  height: 100%;
}

.indexPage {
  width: 100%;
}

.img-wrap,
.img-2 {
  width: 12rem;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap img,
.img-2 img {
  width: inherit;
  height: inherit;
}

.tt {
  width: 6rem;
  height: 45vh;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  margin: 0 auto;
}

.tt .log {
  width: 200rem;
  height: 100vh;
  background-color: red;
}

.tt img {
  width: 50%;
  height: 50%;
}

@keyframes animate-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: animate-marquee 10s linear infinite;
}
